/* Latest news */
.latest-news__cover {
  background-color: $color-fond;
}
.latest-news__blog {
  margin-left: auto;
  margin-right: auto;
}
.blog {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  margin-top: 75px;
}
.blog-article {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.blog-article__title {
  color: $color-text;
  font-family: $main-font-family;
  position: relative;
  box-sizing: content-box;
  font-size: 18px;
  margin: 0;
  padding: 20px 0px;
  &::after {
    content: '';
    position: absolute;
    background-color: $color-main-hover;
    height: 3px;
    width: 135px;
    left: 0;
    bottom: 0;
  }
}
.blog-article__text {
  font-size: 14px;
  font-family: $main-font-family;
  color: $color-text;
  line-height: 26px;
  font-weight: 400;
}
.blog-article__link {
  text-decoration: none;
  font-size: 16px;
  font-family: $main-font-family;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main-hover;
  color: $color-main;
  border-radius: 3px;
  transition: 0.5s all ease;
  &:hover,
  &:focus {
    transform: translateY(-5px) scale(1.03);
    transition: 0.5s all ease;
  }
}
