/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';

:root {
  --main-font-family: 'Open Sans', sans-serif;
  --minor-font-family: 'Roboto', sans-serif;
  --menu-color: #0f0101;
  --title-color: #515151;
  --main-hover-color: #1abc9c;
  --main-color: #fefefe;
  --minor-hover-color: #7fd9c7;
  --label-background: #323232;
  --pad-value-color: #8c8c8c;
  --text-color: #555252;
  --fond-color: #e9f0fd;
  --bottom-color: #4ec6ab;
}
html {
  line-height: 1.15;
}
/* Псевд-ы */
/* -------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ---------------------------------------*/
a {
  display: block;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
/* N A V I G A T I O N */

/* user navigation */
.stiky {
  position: absolute;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: var(--main-hover-color);
  z-index: 1;
}
.account-nav__cover {
  width: 1110px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-hover-color);
}

.account-nav {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: var(--main-hover-color);
  align-items: center;
  height: 50px;
}
.account-nav__call {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  font-family: var(--main-font-family);
  color: var(--main-color);
  display: flex;
  margin-right: 35px;
  align-items: center;
  fill: var(--main-color);
}
.account-nav__icon--call {
  height: 25px;
  width: 25px;
}
/* .account-nav__call::before {
    content: url(../images/icons/icon-sprite.svg#icon-phone);
    padding-right: 8px;
    width: 20px;
    height: 20px;
    fill: var(--main-color);
  } */
.account-nav__mail {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  font-family: var(--main-font-family);
  color: var(--main-color);
  display: flex;
  margin-right: 365px;
  align-items: center;
  fill: var(--main-color);
}
.account-nav__icon--mail {
  height: 25px;
  width: 25px;
  padding-right: 3px;
}
/* .account-nav__mail::before {
    content: url(../images/icons/mailicon.png);
    padding-right: 8px;
  } */
.account-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.account-nav__item {
  list-style-type: none;
}
.account-nav__link {
  list-style-type: none;
  font-size: 14px;
  font-family: var(--main-font-family);
  color: var(--main-color);
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}
.account-nav__link:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  transition: property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.account-nav__link:focus {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  transition-duration: 250ms;
}

/* site navigation */
.site-nav__bar {
  display: flex;
  background-color: var(--main-hover-color);
  width: 1110px;
  height: 90px;
  background-color: var(--main-color);
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.site-nav__bar::first-letter {
  width: 190px;
  height: 42px;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: var(--main-hover-color);
  font-family: var(--minor-font-family);
  font-weight: 900;
}
.logo-m::first-letter {
  color: var(--main-hover-color);
}
.site-nav__logo {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--minor-font-family);
  color: var(--text-color);
  font-weight: 900;
  font-size: 30px;
}
.site-nav__logo:hover {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transition-duration: 250ms;
}
.site-nav__logo:focus {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transition-duration: 250ms;
}
.site-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  padding-right: 20px;
}
.site-nav__link {
  list-style-type: none;
  color: var(--menu-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
@keyframes user-link-change-color {
  0% {
    color: var(--menu-color);
  }
  100% {
    color: var(--main-hover-color);
  }
}
.site-nav__link:hover,
.site-nav__link:focus {
  animation: user-link-change-color 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* M A I N  */

/* Hero */
.hero {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner-images/hero-banner.png);
  height: 600px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* hero effects */
.hero-message {
  height: 100px;
  display: inline-block;
  border: 0;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.hero-message:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  transition-duration: 250ms;
}
.hero-message:focus {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  transition-duration: 250ms;
}
.hero-message__title--1 {
  color: var(--main-color);
  font-family: var(--minor-font-family);
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  letter-spacing: -1px;
}
.hero-message_ampersand {
  font-family: var(--minor-font-family);
  color: var(--main-hover-color);
}
.hero-message__title--2 {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0;
}
.hero-message__sale {
  color: var(--main-hover-color);
}
.hero-message__link {
  display: inline-flex;
  font-family: var(--minor-font-family);
  font-size: 14px;
  width: 120px;
  height: 40px;
  text-decoration: none;
  color: var(--main-color);
  background-color: var(--main-hover-color);
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition-duration: 250ms;
}
.hero-message__link:hover {
  background-color: var(--minor-hover-color);
  transition-duration: 250ms;
}
.hero-message__link:focus {
  background-color: var(--minor-hover-color);
  transition-duration: 250ms;
}
/* services */

.service-advantages__list {
  list-style-type: none;
  display: flex;
  margin: unset;
  padding: unset;
  justify-content: center;
}
.service-advantages__icon--settings {
  width: 70px;
  height: 70px;
  fill: var(--main-hover-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}
.service-advantages__icon--money-back {
  width: 70px;
  height: 70px;
  fill: var(--main-hover-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}
.service-advantages__icon--worldwide {
  width: 70px;
  height: 70px;
  fill: var(--main-hover-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}
.service-advantages__icon--shipping {
  width: 70px;
  height: 70px;
  fill: var(--main-hover-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}
/* .service-advantages__item--setting::before {
    display: flex;
    content: '';
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-bottom: 30px;
    background-image: url(../images/icons/service-icon-1.png);
  } */
/* .service-advantages__item--money-back::before {
    display: flex;
    content: '';
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-bottom: 30px;
    background-image: url(../images/icons/service-icon-2.png);
  } */
/* .service-advantages__item--worldwide::before {
    display: flex;
    content: '';
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-bottom: 30px;
    background-image: url(../images/icons/service-icon-3.png);
  } */
/* .service-advantages__item--shipping::before {
    display: flex;
    content: '';
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-bottom: 30px;
    background-image: url(../images/icons/service-icon-4.png);
  } */

.service-advantages__cover {
  padding-right: 15px;
  padding-left: 15px;
}

.service-advantages__title {
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 18px;
  color: var(--text-color);
  text-transform: uppercase;
  margin: unset;
  padding: unset;
  margin-bottom: 30px;
}
.service-advantages__description {
  text-align: center;
  margin: unset;
  padding: unset;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
}

/* new collection */
.new-collection__cover {
  background-color: var(--fond-color);
}
.section-title {
  font-family: var(--minor-font-family);
  font-size: 48px;
  font-weight: 900;
  color: var(--title-color);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 75px;
}
.section-title::after {
  display: flex;
  content: url(../images/icons/title-border.png);
  margin: 0 auto;
  justify-content: center;
}
.new-collection {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
.new-collection__list {
  all: unset;
  display: flex;
  list-style-type: none;
}

img {
  margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
}
.card__link {
  text-decoration: none;
  width: 255px;
}

.card__description {
  flex-basis: 200px;
  font-family: var(--minor-font-family);
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  margin: 0;
  height: 40px;
  background-color: var(--label-background);
  padding-left: 10px;
}
/* =========================== */
@keyframes card__description-change-color {
  0% {
    background-color: var(--label-background);
  }
  100% {
    background-color: var(--main-hover-color);
  }
}
.card:hover .card__description,
.card:focus .card__description {
  animation: card__description-change-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    forwards;
}

@keyframes card__price-change-color {
  0% {
    background-color: var(--pad-value-color);
  }
  100% {
    background-color: var(--minor-hover-color);
  }
}
.card:hover .card__price,
.card:focus .card__price {
  animation: card__price-change-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    forwards;
}

.card__description:hover,
.card__description:focus {
  animation: card__description-change-color 2ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__price {
  color: var(--main-color);
  background-color: var(--pad-value-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 55px;
  margin-left: auto;
}
.card__price:hover {
  background-color: var(--minor-hover-color);
}
.card__price:focus {
  background-color: var(--minor-hover-color);
}
.card__description:hover .card__price {
  background-color: var(--minor-hover-color);
}
.card__description:focus .card__price {
  background-color: var(--minor-hover-color);
}
.new-collection__item {
  flex-basis: calc(100% / 4 - 22.5px);
}
.new-collection__item:not(:last-child) {
  margin-right: 30px;
}

/* ---card actions--- */
.card-actions__pinch .card-action {
  all: unset;
  width: 50px;
  height: 50px;
  padding-right: 4px;
  border: 1px solid var(--main-color);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}

/* .card-actions__pinch .action--like {
    background-image: url(../images/icons/like.png);
  }
  .card-actions__pinch .action--share {
    background-image: url(../images/icons/share.png);
  }
  .card-actions__pinch .action--time {
    background-image: url(../images/icons/time.png);
  } */
.action__icon--like {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  fill: var(--main-color);
  right: 61%;
  padding-left: auto;
  padding-right: auto;
}
.action__icon--share {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  fill: var(--main-color);
  left: 50%;
  padding-left: auto;
  padding-right: auto;
}
.action__icon--time {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 81%;
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}
.action__icon--cart {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 15%;
  bottom: -10%;
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}
.action--cart {
  all: unset;
  width: 165px;
  height: 50px;
  background-color: var(--label-background);
  border: 1px solid var(--main-color);
  /* background-image: url(../images/icons/cart.png); */
  background-repeat: no-repeat;
  background-position: 20px 10px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-left: 10px;
}
.card {
  width: 255px;
  position: relative;
  border-radius: 10px;
}

.card .card__overlay {
  position: relative;
  overflow: hidden;
}

.card .card__overlay::before {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 92%;
  height: 95%;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
}
/* ============= */
@keyframes overlay-appear {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card:hover .card__overlay::before,
.card:focus .card__overlay::before {
  animation: overlay-appear 250ms linear;
  opacity: 1;
}

.card:hover .card-actions,
.card:focus .card-actions {
  animation-name: button-appear;
  animation-delay: 250ms;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.card-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  opacity: 0;
  padding: 4px;
}

/* ================= */
@keyframes card-actions__pinch-butt-change-color {
  0% {
    background-color: none;
  }
  100% {
    background-color: var(--main-hover-color);
  }
}
.card-actions__pinch .card-action:hover,
.card-actions__pinch .card-action:focus {
  animation: card-actions__pinch-butt-change-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@keyframes action--cart-change-color {
  0% {
    background-color: var(--label-background);
  }
  100% {
    background-color: var(--main-hover-color);
  }
}
.action--cart:hover,
.action--cart:focus {
  animation: action--cart-change-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    forwards;
}
/* ======================== */

/* featured products */

.featured-products__cover {
  background-color: var(--main-color);
}

.featured-products {
  margin-left: auto;
  margin-right: auto;
}
.featured-products__list {
  all: unset;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 80px;
}
.featured-products__item {
  flex-basis: calc(100% / 4 - 22.5px);
  margin-top: 30px;
}
.featured-products__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
/* Latest news */
.latest-news__cover {
  background-color: var(--fond-color);
}

.latest-news__blog {
  margin-left: auto;
  margin-right: auto;
}
.blog {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  margin-top: 75px;
}
.blog-article {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;

  margin-right: 30px;
}

.blog-article:last-child {
  margin-right: 0;
}

.blog-article__title {
  color: var(--text-color);
  font-family: var(--main-font-family);
  position: relative;
  box-sizing: content-box;
  font-size: 18px;
  margin: 0;
  padding: 20px 0px;
}

.blog-article__title::after {
  content: '';
  position: absolute;
  background-color: var(--main-hover-color);
  height: 3px;
  width: 135px;
  left: 0;
  bottom: 0;
}
.blog-article__text {
  font-size: 14px;
  font-family: var(--main-font-family);
  color: var(--text-color);
  line-height: 26px;
  font-weight: 400;
}
.blog-article__link {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--main-font-faimily);
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-hover-color);
  color: var(--main-color);
  border-radius: 3px;
  transition: 0.5s all ease;
}
.blog-article__link:hover {
  transform: translateY(-5px) scale(1.03);
  transition: 0.5s all ease;
}
.blog-article__link:focus {
  transform: translateY(-5px) scale(1.03);
  transition: 0.5s all ease;
}
/* newsletter */
.newsletter {
  background-image: url(../images/banner-images/newsletter-baner.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 135px;
  background-size: cover;
}
.newsletter-cover {
  margin-left: auto;
  margin-right: auto;
}
.newsletter__title {
  font-family: var(--minor-font-family);
  font-size: 48px;
  font-weight: 900;
  color: var(--title-color);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.newsletter__title::after {
  display: flex;
  content: url(../images/icons/last-title-border.png);
  margin: 0 auto;
  justify-content: center;
}
.newsletter__mail--subscribe {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 16px;
  text-align: center;
}
.email-form {
  display: flex;
  justify-content: center;
}
.email-input {
  border-radius: 5px 0px 0px 5px;
  width: 540px;
  height: 60px;
  color: var(--main-color);
  font-family: var(--main-font-family);
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  border: 3px solid var(--main-color);
}
.email-button {
  font-family: var(--main-font-family);
  border-radius: 0px 5px 5px 0px;
  width: 90px;
  height: 60px;
  background-color: var(--main-hover-color);
  background-image: url(../images/icons/email-sent-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-color: var(--main-color);
  border: 3px solid var(--main-color);
}
.email-button:hover {
  transform: translateX(-10px);
}
.email-button:focus {
  transform: translateX(-10px);
}
