$main-font-family: 'Open Sans', sans-serif;
$minor-font-family: 'Roboto', sans-serif;
$color-menu: #0f0101;
$color-title: #515151;
$color-main: #fefefe;
$color-main-hover: #1abc9c;
$color-minor-hover: #7fd9c7;
$color-label-background: #323232;
$color-pad-value: #8c8c8c;
$color-text: #555252;
$color-fond: #e9f0fd;
$color-bottom: #4ec6ab;
